
/* decorações gerais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #12182B;
  color: #9CA3AF;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4 {
  font-family: 'Poppins', sans-serif;
  color: #F0F0F0;
  font-weight: 700;
}

a {
  color: #9D85F2;
  text-decoration: none;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.main {
  max-width: 1100px;
  margin: 0 auto;
  padding: 1.5rem 1rem;
}