@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&family=Inter:wght@400;500;600&display=swap');

body {
  background-color: #12182B;
  color: #9CA3AF;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
}

h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
  color: #F0F0F0;
  font-weight: 700;
}

a {
  color: #A188FF;
  text-decoration: none;
  font-weight: 600;
  display: flex;
  align-items: center;
}