@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&family=Inter:wght@400;500;600&display=swap');

/* decorações do home-header */
.home-header {
  display: flex; /* alinha os itens internos em uma linha */
  justify-content: space-between;
  align-items: center; /* centralizar os itens */
  margin-bottom: 2rem;
}
.home-header h1 {
  font-size: 1.75rem;
  margin-bottom: 0.25rem;
}

/* decorações do carousel-header */
.carousel-header {
  display: flex; /* alinha o título e o link (ver todos) */
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.carousel-header h2 {
  font-size: 20px;
}

/* decorações do carousel-body */
.carousel-body {
  display: flex; /* alinha os cards */
  gap: 1rem; /* espaço entre os cards */
  overflow-x: auto; /* rolagem horizontal dos cards (se overflox) */
  padding-bottom: 1rem;
  -ms-overflow-style: none; /* esconde a barra do scroll */
  scrollbar-width: none; /* esconde a barra do scroll */
}
.carousel-body::-webkit-scrollbar {
  display: none; /* esconde a barra do scroll */
}

/* decorações do home card */
.home-card {
  width: 160px; /* tamanho fixo para cards */
  cursor: pointer;
}
.home-card-image {
  position: relative;
  overflow: hidden; /* esconde se cortar pela responsividade */
  border-radius: 0.75rem;
  margin-bottom: 0.75rem;
  aspect-ratio: 1 / 1; /* div quadrado */
}
.home-card-image-img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* imagem cobre o espaço inteiro */
}
.home-card h4 {
  font-weight: 600;
  white-space: nowrap; /* texto não quebra linha */
  overflow: hidden; /* esconde se cortar pela responsividade */
  text-overflow: ellipsis;
}
.home-card p {
  font-size: 0.8rem;
  white-space: nowrap; /* texto não quebra linha */
  overflow: hidden; /* esconde se cortar pela responsividade */
  text-overflow: ellipsis;
}